<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}">
        <title>Angular Test!</title>
        <base href="/" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <app-root></app-root>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("runtime.js") }}"></script>
            <script type="text/javascript" src="{{ asset("polyfills.js") }}"></script>
            <script type="text/javascript" src="{{ asset("styles.js") }}"></script>
            <script type="text/javascript" src="{{ asset("vendor.js") }}"></script>
            <script type="text/javascript" src="{{ asset("main.js") }}"></script>
        {% endblock %}
    </body>
</html>